* {
    font-family: Kanit, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    margin-top: 50px;
    text-align: center;
    color: hsl(0, 100%, 36%);
}
.container {
    margin: auto;
    width: 400px;
}
label {
    font-weight: bold;
    font-size: large;
    color: hsl(0, 0%, 36%);
}
#input {
    margin-left: 20px;
    width: 100px;
    text-align: center;
}
button {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    background-color: rgb(29, 31, 182);
    font-size: 17px;
    font-weight: bold;
    color: silver;
    cursor: pointer;
}
#res,
#images {
    text-align: center;
    margin: auto;
}
#res {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    color: hsl(0, 0%, 36%);
}
#images {
    width: 500px;
}
